{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Your cart {% if not cart.products.count %} empty {% endif %}</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total price</th>
    </tr>
  </thead>
  <tbody>
  {% for item in car.products.all %}
    <tr>
<!-- content_object - we do not have a binding to a specific product model (it is abstract), but we have an M2M binding of the product-->
      <th scope="row">{{ item.content_object.tittle }}</th>
      <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
      <td>{{ item.content_object.price }} $ USD/1(q-ty)</td>
      <td>@mdo</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}