<body>
    <table class="table">
  <tbody>
    <tr>
      <td>Voltage</td>
      <td>{{ product.voltage }}</td>
    </tr>
     <tr>
      <td>Ampere Flow</td>
      <td>{{ product.ampere_flow }}</td>
    </tr>
     <tr>
      <td>Fast charging</td>
      <td>{{ product.Fast_charging }}</td>
    </tr>
   <tr>
      <td>Wireless</td>
      <td>{{ product.wireless }}</td>
    </tr>
   <tr>
      <td>Capacity</td>
      <td>{{ product.capacity }}</td>
    </tr>
   <tr>
      <td>Size</td>
      <td>{{ product.size }}</td>
    </tr>
   <tr>
      <td>Weight</td>
      <td>{{ product.weight }}</td>
    </tr>
  </tbody>
</table>
