<body>
    <table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
     <tr>
      <td>Display type</td>
      <td>{{ product.display_types }}</td>
    </tr>
     <tr>
      <td>Display resolution</td>
      <td>{{ product.resolution }}</td>
    </tr>
   <tr>
      <td>Battery volume</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
   <tr>
      <td>Having a slot for SD</td>
      <td>{{ product.sd }}</td>
    </tr>
   <tr>
      <td>Main camera</td>
      <td>{{ product.main_camera_mp }}</td>
    </tr>
     <tr>
      <td>Frontal camera</td>
      <td>{{ product.frontal_camera_mp }}</td>
    </tr>
  </tbody>
</table>

